<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>신규 회원 화면</h1>
    <form action="/join" method="post">
        <input type="text" name="name" placeholder="아이디를 입력해주세요." />
        <br />
        <input type="password" name="pwd" placeholder="비밀번호를 입력해주세요." />
        <br />
        <input type="email" name="email" placeholder="이메일 주소를 입력해주세요." />
        <br />
        <input type="submit" value="회원가입" />
    </form>
    <a href="/loginPage">로그인 화면 이동</a>
</body>
</html>