<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    <form id="sendApi">
        <p>server</p>
        <label><input type="radio" name="server" value="java"> Java</label>
        <label><input type="radio" name="server" value="python"> Python</label>
        <p>path</p>
        <input type="text" name="path" placeholder="path를 입력해주세요.">
        <p>Number</p>
        <label>Number: <input type="text" name="number" placeholder="숫자를 입력해주세요."></label>
        <p>
            <input type="submit" value="Submit"> <input type="reset" value="Reset">
        </p>
    </form>

    <h3>Spring Server</h3>
    <p id="java"></p>

    <h3>Python Server</h3>
    <p id="python"></p>

    <script src="/static/js/index.js"></script>
</body>
</html>