body {
    background-image: url("../../../data/img/card.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1 {
    color: red;
    background: linear-gradient(to right, skyblue, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    background: linear-gradient(to left, skyblue, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}