#box1 {
    border: 4px solid;
    width: 250px;
    height: 250px;
    font-size: 225px;
    text-align: center;
    background-color: lightskyblue;

    transform: translateX(-50px);
    transform: translateY(-50px);
    transform: translate(50px, 50px);

    /* transform: rotateX(180deg);
    transform: rotateY(180deg);
    transform: rotateZ(180deg);
    
    transform: scaleX(2);
    transform: scaleY(2);
    transform: scale(2, 2);
    
    transform: skewX(45deg);
    transform: skewY(45deg);
    transform: skew(20deg, 20deg); */
}