# Spring Data Source 설정 
spring:
  # https://blogshine.tistory.com/548
  jackson:
    serialization:
      fail-on-empty-beans: false

  output:
    ansi:
      enabled: always 

  datasource:
    url: jdbc:mysql://127.0.0.1:3306/examplesdb?userSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: urstory
    password: u1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update 
    properties:
      hibernate:
        show_sql: true 
        format_sql: true 



