<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>{{msg}}</h1>
    {% if todolist %}
        {% for todo in todolist %}
            <p>{{todo.title}} / {{todo.color}}</p>
        {% endfor %}
    {% endif %}
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</body>
</html>